body {
 background: #111111;
 font-family: 'am2r', Fallback, sans-serif;
}
p {
color: white;
text-align: center;
}
h1 {
color: white;
text-align: center;
}
h2 {
color: white;
text-align: center;
}
h3 {
color: white;
text-align: center;
}
a {
text-decoration: none;
color: red;
}
form {
text-align: center;
}
iframe {
width: 100%;
height: calc(100% - 35px);
}
.red {
color: #ff0000;
}
.grn {
color: #008000;
}
.dgry {
color: #333333;
}
.lgry {
color: #808080;
}
.wht {
color: #ffffff;
}
.bld {
font-weight: bold;
}
.uln {
text-decoration: underline;
}
.pg {
color: red;
}
.pgu {
text-decoration: underline;
color: red;
}
.btn {
text-decoration: underline;
text-decoration: bold;
color: red;
}
.gbtn {
text-decoration: underline;
text-decoration: bold;
color: #555555;
}
.plbfixcon {
position: fixed;
right: 1%;
left: 80%;
margin-top: -2%;
background-color: #333333;
opacity: 85%;
padding-left: 15px;
padding-right: 15px;
}
.plbtnfix {
color: white;
}
.plbtnfix:hover {
text-decoration: underline;
}
@font-face {
    font-family: 'am2r';
    src: url('images/04b09.ttf')  format('truetype')
  }
@font-face {
    font-family: 'pixel';
    src: url('images/uni_05_53.ttf')  format('truetype')
}
.pxl {
    font-family: 'pixel', Fallback, sans-serif;
}